@import "icons-data";

.icon-search {
  width: 18px;
  height: 18px;
  background: url(icon-search()) no-repeat center;
}

.icon-cart {
  width: 24px;
  height: 24px;
  background: url(icon-cart()) no-repeat center;
}

.icon-logo {
  width: 142px;
  height: 63px;
  background: url(icon-logo()) no-repeat center;
}

.icon-phone {
  width: 24px;
  height: 24px;
  background: url(icon-phone()) no-repeat center;
}

.icon-mail {
  width: 24px;
  height: 24px;
  background: url(icon-mail()) no-repeat center;
}

.icon-download {
  width: 24px;
  height: 24px;
  background: url(icon-download()) no-repeat center;
}

.icon-personal-area-link {
  width: 24px;
  height: 24px;
  background: url(icon-personal-area-link()) no-repeat center;
}

.icon-go-over {
  width: 24px;
  height: 24px;
  background: url(icon-go-over()) no-repeat center;
}

.icon-vk {
  width: 24px;
  height: 24px;
  background: url(icon-vk()) no-repeat center;
}

.icon-youtube {
  width: 24px;
  height: 24px;
  background: url(icon-youtube()) no-repeat center;
}

.icon-instagram {
  width: 24px;
  height: 24px;
  background: url(icon-instagram()) no-repeat center;
}