include ../link-with-desc/link-with-desc

mixin personal-card(persona={})
    .personal-card
        .personal-card__head
            .personal-card__avatar
                img(src="img/personal-card/personal-card.png", alt=persona.name ? persona.name : "Иванов Иван Иванович")
            .personal-card__info
                .personal-card__name=persona.name ? persona.name : "Иванов Иван Иванович"
                .personal-card__position=persona.position ? persona.position : "Должность"
        .personal-card__inner
            .personal-card__row
                span.personal-card__content
                    +link-with-icon({
                      type: 'phone',
                      link: 'tel:+79214950000',
                      title: '+7 (921) 495 00-00'
                    })
        .personal-card__inner
            .personal-card__row
                span.personal-card__content
                    +link-with-icon({
                      type: 'mail',
                      link: 'mailto:examplemail@gmail.com',
                      title: 'examplemail@gmail.com'
                    })


mixin personal-card-section
    section.section.personal-card__section
        .container
            .personal-card__list
                - var i = 0;
                while i < 4
                    +personal-card
                    - i++;
