.header {
  &.active {
    @include to($break_md - 1px) {
      background: radial-gradient(
          166.32% 292.71% at 0% 0%,
          #555668 0%,
          #2b2b37 100%
        )
        no-repeat center;
      position: fixed;
      width: 100%;
      min-height: 100%;
      max-height: 100%;
      z-index: 100;
      overflow-y: scroll;
    }
  }

  &.is-scroll {
    @include to($break_md - 1px) {
      width: 100%;
      position: fixed;
      z-index: 100;
      background: radial-gradient(
          166.32% 292.71% at 0% 0%,
          #555668 0%,
          #2b2b37 100%
        )
        no-repeat center;
    }
  }
  @include to($break_md - 1px) {
    &.is-scroll + div,
    &.is-scroll + section,
    &.is-scroll + .section {
      padding-top: 120px;
    }
  }

  &__mobile-menu {
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: 100;
    @include outline-none();
    @include md-block {
      display: none;
    }

    @include to($break_md - 1px) {
      .is-scroll & {
        top: 11px;
      }
    }
  }

  &__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    &-inner {
      display: flex;
      justify-content: space-between;
      padding: 56px 0 16px;

      @include to($break_md - 1px) {
        .is-scroll & {
          padding: 0;
        }
      }

      @include md-block {
        align-items: center;
        padding: 0;
      }
    }

    &-left {
      display: none;
      width: 42%;

      @include md-block {
        display: inline-block;
      }
      @include lg-block {
        width: 52%;
      }
    }

    &-right {
      width: 100%;
      display: flex;
      flex-direction: column;
      @include md-block {
        width: 58%;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
      }

      @include lg-block {
        width: 48%;
      }
    }
  }

  & .search {
    @include lg-block {
      max-width: 368px;
    }

    @include md-block {
      max-width: 280px;
    }
  }

  @include to($break_md - 1px) {
    &.is-scroll .search {
      margin: 0 40px;
      width: #{calc(100% - 80px)};
    }
  }

  &__basket {
    width: 24px;
    height: 24px;
    position: relative;
    top: 12px;
    display: flex;
    align-items: center;
    text-decoration: none;

    @include md-block {
      width: auto;
      right: inherit;
      top: inherit;
      padding: 12px 20px;
      height: 48px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
      @include transition(0.2s, linear, background);

      &:hover {
        background: rgba(255, 255, 255, 0.4);
      }
    }

    & > span {
      display: none;
      @include md-block {
        display: inline-block;
        margin-left: 4px;
      }
    }

    &-wrap {
      position: absolute;
      top: 0;
      right: 16px;
      display: flex;
      height: 40px;
      margin-left: 15px;
      box-sizing: border-box;

      @include md-block {
        position: relative;
        right: inherit;
        top: inherit;
        height: 48px;
      }
    }

    &-commercial {
      background: #fecc00;
      padding: 16px 8px 2px;
      margin-right: 10px;
      @include md-block {
        margin-right: 0;
        padding: 4px 20px 6px;
      }

      @include to($break_md - 1px) {
        .is-scroll & {
          display: none;
        }
      }
    }

    &-quantity {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #2f2f30;
    }

    &-count {
      font-size: 15px;
    }

    &-units {
      display: none;
      font-size: 10px;
      @include xs-block {
        display: inline-block;
      }
    }

    &-total {
      display: none;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      color: #2f2f30;

      @include md-block {
        display: block;
      }
    }
  }

  &__middle {
    .header.active & {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    @include md-block {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      padding: 0;

      .header.active & {
        @include to($break_md - 1px) {
          padding: 32px 0;
          flex-direction: column;
          align-items: flex-start;
        }

        @include xs-block {
          flex-direction: row;
        }
      }

      @include md-block {
        align-items: center;
        padding: 30px 0;
      }
    }

    &-logo {
      position: absolute;
      top: 16px;
      bottom: auto;
      left: 0;
      right: 0;
      margin: auto;
      width: 64px;
      height: 24px;

      & .logo {
        @include to($break_md - 1px) {
          width: 100%;
          height: 100%;
        }
      }

      @include md-block {
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
        width: inherit;
        height: inherit;
      }

      @include to($break_md - 1px) {
        .is-scroll & {
          display: none;
        }
      }
    }

    &-links,
    &-cabinet {
      display: none;

      .header.active & {
        display: block;
      }
      @include md-block {
        display: block;
      }
    }

    @include to($break_md - 1px) {
      &-cabinet {
        .header.active & {
          margin-top: 20px;
        }
      }
    }
  }

  @include to($break_md - 1px) {
    &.active .menu {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
    @include to($break_md - 1px) {
      .header.active & {
        display: block;
        border-bottom: 0;
        padding: 16px 0;
      }
    }

    @include md-block {
      display: block;
    }
  }
}
