header.header
    .header__top
        .container
            .header__top-inner
                ul.submenu
                    li
                        a(href='#') О компании
                    li
                        a(href='#') Сотрудничество
                    li
                        a(href='#') Где купить
                    li
                        a(href='#') Контакты
