include ../../components/link-with-desc/link-with-desc
include ../../components/personal-area-link/personal-area-link

header.header.js-mobile-menu
    .header__top
        .container
            .header__top-inner
                .header__mobile-menu.icon-mobile-burger.js-mobile-menu-open
                    .icon-mobile-burger__inner
                .header__top-left
                    include ../../components/submenu/submenu
                .header__top-right
                    include ../../components/search/search
                    .header__basket-wrap
                        .header__basket-commercial
                            .header__basket-quantity
                                span.header__basket-count 12
                                span.header__basket-units шт.
                            .header__basket-total 100 540 ₽
                        a(href='basket.html').header__basket
                            .icon-cart
                            span Корзина
    .header__middle
        .container
            .header__middle-inner
                .header__middle-logo
                    include ../../components/logo/logo
                .header__middle-links
                    +link-with-desc-list
                .header__middle-cabinet
                    +personal-area-link(isAuth)
    .header__bottom
        .container
            .header__bottom-inner
                include ../../components/menu/menu


