.menu-accordion {
  list-style: none;

  &__item {
    & a {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      padding: 9px 9px 9px 32px;
      box-sizing: border-box;
      @include transition(.2s, linear, background);
    }

    &.has-child {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        width: 24px;
        height: 24px;
        background: url(icon-arrow-triangle()) no-repeat center;
        opacity: .5;
        cursor: pointer;
        z-index: 2;
        @include transition();
      }

      &.is-open {
        &:before {
          @include rotate(-180deg);
          opacity: 1;
        }
      }
    }

    &.active {
      & > a {
        font-weight: bold;
        color: #fff;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 4px;
          height: 100%;
          background: #FECC00;
          left: -16px;
          top: 0;
          bottom: 0;
          right: auto;
          margin: auto;
        }

      }
    }
  }

  &__item > & {
    display: none;
  }

  &__item.active > & {
    display: block;
  }

  &__item > & &__item {

    &.active {
      border-left: 4px solid #FECC00;
      box-sizing: border-box;

      & > a {
        background: rgba(255, 255, 255, 0.1);
      }
    }

    & a {
      font-size: 16px;
      line-height: 19px;
      padding-top: 15px;
      padding-bottom: 14px;

      &:after {
        content: none;
      }
    }
  }
}
