.menu-accordion__block.js-menu-accordion
    .menu-accordion__mobile.js-menu-accordion-mobile Категории
    ul.menu-accordion.js-menu-accordion-list
        li.menu-accordion__item
            a(href='#') Декоративные светильники GX53
        li.menu-accordion__item
            a(href='#') Декоративные светильники MR16
        li.menu-accordion__item.has-child.active.is-open
            a(href='#') LED Панели
            ul.menu-accordion
                li.menu-accordion__item
                    a(href='#') MR 16 GU 5.3
                li.menu-accordion__item.active
                    a(href='#') Лампа G4
                li.menu-accordion__item
                    a(href='#') Лампа G9
                li.menu-accordion__item
                    a(href='#') Лампа GU 5.3
                li.menu-accordion__item
                    a(href='#') Лампа GX 53
                li.menu-accordion__item
                    a(href='#') Лампа Галогенная
                li.menu-accordion__item
                    a(href='#') Лампа Т8
                li.menu-accordion__item
                    a(href='#') MR 16 GU 5.3
        li.menu-accordion__item.has-child
            a(href='#') Лампы
            ul.menu-accordion
                li.menu-accordion__item
                    a(href='#') MR 16 GU 5.3
                li.menu-accordion__item
                    a(href='#') Лампа G4
                li.menu-accordion__item
                    a(href='#') Лампа G9
                li.menu-accordion__item
                    a(href='#') Лампа GU 5.3
                li.menu-accordion__item
                    a(href='#') Лампа GX 53
                li.menu-accordion__item
                    a(href='#') Лампа Галогенная
                li.menu-accordion__item
                    a(href='#') Лампа Т8
                li.menu-accordion__item
                    a(href='#') MR 16 GU 5.3
        li.menu-accordion__item
            a(href='#') Лента / Модули
        li.menu-accordion__item
            a(href='#') Пульты / Блоки
        li.menu-accordion__item
            a(href='#') Комплектующие