.catalog-detail {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include md-block {
    flex-direction: row;
  }

  &__section {
    margin-bottom: 56px;
  }

  &__title {
    color: #fff;
    font-size: 22px;
    line-height: 27px;
    @include md-block {
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__left {
    width: 100%;

    @include md-block {
      max-width: 454px;
      margin-right: 24px;
    }

    @include xl-block {
      max-width: 546px;
      margin-right: 32px;
    }
  }

  &__right {
    width: 100%;
    @include md-block {
      max-width: 1322px;
    }

    @include xl-block {
      max-width: 1222px;
    }
  }

  &__head {
    display: none;
    @include md-block {
      display: block;
    }

    &_mobile {
      display: block;
      @include md-block {
        display: none;
      }
    }

    &-info {
      margin-top: 8px;
      padding-bottom: 10px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @include md-block {
        margin-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }

  &__article {
    margin-right: 24px;
    &-key {
      display: inline-block;
      vertical-align: middle;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.5);
    }
    &-value {
      display: inline-block;
      vertical-align: middle;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #fff;
    }
  }

  &__new {
    padding: 3px 8px 1px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: #8bc34a;
    margin-right: 24px;
  }

  &__download {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #fecc00;
    margin-top: 8px;
    margin-bottom: 8px;

    @include md-block {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:hover {
      text-decoration: none;
    }

    & span {
      margin-left: 4px;
      text-decoration: none;
    }
  }

  &__body {
    display: flex;
    margin-top: 24px;
    align-items: flex-start;
    flex-direction: column;

    @include lg-block {
      flex-direction: row;
    }
  }

  &__options {
    width: 100%;
    order: 1;
    @include lg-block {
      max-width: 763px;
      margin-right: 24px;
      order: 0;
    }

    @include xl-block {
      max-width: 755px;
      margin-right: 32px;
    }

    &-title {
      font-weight: 600;
      font-size: 21px;
      line-height: 26px;
      color: #fff;
      margin-bottom: 9px;
    }

    &-box {
      margin-bottom: 24px;

      @include xs-block {
        margin-bottom: 16px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-row {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      flex-direction: column;

      @include xs-block {
        align-items: flex-end;
        flex-direction: row;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-key {
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.5);
      box-sizing: border-box;
      max-width: 100%;

      @include xs-block {
        padding-right: 8px;
        max-width: 47%;
      }
    }

    &-value {
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      color: #fff;
      max-width: 100%;

      @include xs-block {
        padding-left: 8px;
        text-align: right;
        max-width: 47%;
      }
    }

    &-line {
      border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
      box-sizing: border-box;
      flex: 1;
      margin-bottom: 5px;
      display: none;
      @include xs-block {
        display: block;
      }
    }

    &-scale {
      flex: 1;
      box-sizing: border-box;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
      margin-bottom: 5px;
      display: none;
      @include xs-block {
        display: block;
      }

      @include xl-block {
        border-bottom: none;
        position: relative;
        height: 16px;
        margin-bottom: 0;
        background: linear-gradient(
          90deg,
          #e92b1c 0%,
          #f7ac0f 21.14%,
          #eef232 42.28%,
          #ffffff 61.65%,
          #4cbedb 81.52%,
          #1466af 100%
        );
      }
    }

    &-aim {
      display: none;
      @include xl-block {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0;
        width: 16px;
        height: 31px;
        border: 2px solid #fecc00;
        box-sizing: border-box;
        border-radius: 8px;
        display: block;
      }
    }
  }

  &__commerce {
    order: 0;
    width: 100%;
    margin-bottom: 24px;
    @include bg-gradient();

    @include lg-block {
      margin-bottom: 0;
      max-width: 427px;
    }

    @include xl-block {
      max-width: 435px;
    }

    &-head {
      padding: 16px 24px 4px;
      border-bottom: 1px solid #898c9b;
      box-sizing: border-box;
    }

    &-body {
      display: flex;
      justify-content: space-between;
      padding: 16px 24px 24px;
      flex-direction: column;

      @include xs-block {
        flex-direction: row;
      }
    }

    &-mark {
      display: inline-block;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      padding: 3px 8px 1px;
      background: #e91e63;
      margin-left: 16px;
    }

    &-discount {
      display: flex;
      align-items: center;
      & span {
        position: relative;
        font-size: 25px;
        line-height: 37px;
        color: rgba(255, 255, 255, 0.5);

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 2px;
          background: #fff;
          @include rotate(-17.46deg);
        }
      }
    }

    &-price {
      font-size: 32px;
      line-height: 48px;
      color: #fff;
    }

    &-stock {
      width: 100%;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      @include xs-block {
        margin-bottom: 0;
        width: #{calc(50% - 7px)};
      }
    }

    &-name {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }

    &-availability {
      font-size: 14px;
      line-height: 21px;
      color: #fff;

      & span {
        font-weight: 600;
      }
    }

    &-quantyty {
      margin-top: 8px;
    }

    &-button {
      margin-top: 8px;

      & .btn {
        padding: 18px 20px;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
      }
    }
  }

  .content-sidebar &__feature {
    @include to($break_xl - 1px) {
      @include size(4);
    }
    & .feature__item {
      @include md-block {
        height: 130px;
      }
    }
  }

  &__text {
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;

    @include md-block {
      margin-top: 56px;
    }

    & p {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    &-item {
      display: inline-block;
      text-decoration: none;
      box-sizing: border-box;
      width: 100%;
      height: 320px;
      @include border-gradient();

      @include md-block {
        height: 454px;
      }

      @include xl-block {
        height: 546px;
      }
    }

    &-item & {
      max-width: 100%;
      max-height: 100%;
    }

    &-item &-video {
      &:before {
        width: 100px;
        height: 100px;
      }
      &:after {
        left: 5px;
        border-top: 20.5px solid transparent;
        border-left: 21px solid #fff;
        border-bottom: 20.5px solid transparent;
      }
    }

    &-list &-item {
      display: none;
    }

    &-list &-item:first-child {
      display: block;
    }

    @mixin video-icon {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 30px;
        height: 30px;
        background: #ff0000;
        border-radius: 50%;

        @include sm-block {
          width: 51px;
          height: 51px;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        left: 1px;
        border-top: 6.5px solid transparent;
        border-left: 6px solid #fff;
        border-bottom: 6.5px solid transparent;

        @include sm-block {
          left: 3px;
          border-top: 10.5px solid transparent;
          border-left: 11px solid #fff;
          border-bottom: 10.5px solid transparent;
        }
      }
    }

    &-video {
      @include video-icon();
    }

    &-mini {
      max-width: 76px;
      width: 100%;
      height: 76px;
      border: 2px solid #fecc00;
      box-sizing: border-box;
      margin: 0 4px;
      @include border-gradient();
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;

      @include sm-block {
        max-width: 130px;
        width: 100%;
        height: 130px;
      }

      &-list {
        display: flex;
        margin: 4px 0;
      }

      &.slick-current {
        border: 2px solid #fecc00;
        box-sizing: border-box;
      }
    }
  }
}
