.menu {
  list-style: none;
  display: flex;
  align-items: center;

  @include md-block {
    margin-left: -12px;
  }

  @include lg-block {
    margin-left: -18px;
  }

  & li {
    & a {
      display: inline-block;
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #fff;
      padding: 10px 0;
      height: 100%;
      box-sizing: border-box;
      @include transition(0.2s, linear, all);

      @include md-block {
        padding: 15px 12px;
        font-size: 11px;
      }

      @include lg-block {
        font-size: 14px;
        padding: 18px 20px;
      }

      @include xl-block {
        font-size: 16px;
      }

      &:hover {
        background: #fecc00;
        color: #2f2f30;
      }
    }

    &.active a {
      background: #fecc00;
      color: #2f2f30;
    }
  }
}
