ul.menu
    li
        a(href='#') Декоративные светильники GX53
    li.active
        a(href='#') Декоративные светильники MR16
    li
        a(href='#') LED Панели
    li
        a(href='#') Лампы
    li
        a(href='#') Лента / Модули
    li
        a(href='#') Пульты / Блоки
    li
        a(href='#') Комплектующие