include ../../components/field/field
include base

+modal('auth', 'Войти', true)
    form(action='', method='post').modal__form-auth.js-form.validator
        +field('Электронная почта', 'email', '', '', 'text', {'validator-require': 'true', 'validator-type': 'email'})
        +field('Пароль', 'password', '', '', 'password', {'validator-require': 'true'})
        button(type='submit').btn.btn-yellow.modal__button-auth Войти
        .modal__link-wrap
            a(href='restore-password.html').modal__link.modal__link-forgot Забыли пароль?
