.modal {
  position: fixed;
  width: 100%;
  margin: auto;

  &__warning {
    margin-top: 16px;
    font-size: 12px;
    color: #f8717a;
    font-weight: 500;
  }

  &__button-full {
    display: block;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
  }

  &__form-error {
    color: #fecc00;
  }

  &-list {
    display: none;
  }

  &__head {
    display: flex;
    align-items: flex-end;
    margin-bottom: 28px;

    @include xs-block {
      margin-bottom: 46px;
    }
  }

  &__custom-title {
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    border-bottom: 4px solid #fecc00;
  }

  & .field {
    margin-top: 16px;

    &:first-child {
      margin-bottom: 0;
    }
  }

  &__inner {
    transform-style: preserve-3d;
    @include bg-main-theme-gradient();
    padding: 30px 25px 30px;
    @include xs-block {
      padding: 56px 60px 90px;
    }
  }

  &__close {
    position: absolute;
    right: 25px;
    top: 25px;
    background: transparent;
    opacity: 1;
    cursor: pointer;
    z-index: 100;
    @include transition();

    @include xs-block {
      width: 46px;
      height: 46px;
      right: 40px;
      top: 45px;
    }

    &:hover {
      opacity: 0.9;
      &:before,
      &:after {
        opacity: 0.7;
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 18px;
      width: 2px;
      background-color: #fff;
    }
    &:before {
      @include rotate(45deg);
    }
    &:after {
      @include rotate(-45deg);
    }
  }

  &__title {
    font-size: 28px;
    line-height: 1;
    color: #fff;
    margin-right: 24px;

    @include xs-block {
      margin-right: 32px;
      font-size: 32px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
  }

  &__content {
    &_light {
      color: #FFF;
    }

    &-head {
      margin-bottom: 30px;
    }
  }

  &__button {
    &-auth {
      display: block;
      margin-top: 24px;
      width: 100%;
    }

    &-register {
      width: 100%;
      display: block;
      margin-bottom: 12px;
    }

    &-register ~ &-auth {
      margin-top: 12px;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #fecc00;

    &-forgot {
      display: inline-block;
      margin-top: 32px;
      margin-right: auto;
      margin-left: auto;
    }

    &-wrap {
      text-align: center;
    }
  }

  &__policy {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.7;
    margin-top: 12px;
  }

  &__phone-confirm {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #FECC00;
    opacity: 0.7;
    margin-top: 16px;
  }

  &__phone-confirm-block {
    margin-top: 12px;
    margin-bottom: 18px;
    &.hide {
      display: none;
    }
  }

  &__auth,
  &__buy,
  &__default {
    max-width: 530px;
  }

  &__study-register & {
    &__inner {
      @include xs-block {
        padding-top: 53px;
        padding-bottom: 40px;
      }

      & .modal__response {
        line-height: 1.5;
        color: #fff;
      }
    }
  }
  &__study {
    background: inherit;
    box-shadow: none;

    & .iziModal-wrap {
      z-index: 1;

      & .modal__inner {
        padding: 0;
      }

      & .modal__content {
        @include xs-block {
          padding: 56px 60px 90px;
        }
        padding: 30px 25px 30px;
        box-sizing: border-box;
        position: relative;
        height: auto;
        z-index: 2;
      //
      //  &:before {
      //    @include sm-block {
      //      width: 648px;
      //      height: 479px;
      //      left: -25px;
      //    }
      //    content: '';
      //    position: absolute;
      //    top: 0;
      //    left: -5px;
      //    width: 100%;
      //    height: 100%;
      //    background: url(../img/study/modal-decor.svg) no-repeat center top;
      //    background-size: contain;
      //    z-index: -1;
      //  }

        & .modal-study_background {
          position: absolute;
          //width: 100%;
          //height: 100%;
          top: 0;
          left: 100px;
          //z-index: -1;
          z-index: 1000;
        }

        & .picture-response {
          margin-bottom: 32px;
          width: 403px;
          height: 226px;

          @include sm-block {
            margin-bottom: 16px;
          }
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: -14px;
        left: -14px;
        width: #{calc(100% + 28px)};
        height: #{calc(100% + 28px)};
        background: linear-gradient(139.77deg, rgba(85, 86, 104, 0.5) -0.91%, rgba(43, 43, 55, 0.5) 100.41%);
      }
    }

    .content-container {
      position: relative;
      z-index: 1001;
    }
  }

  &__study-share {
    & .modal {
      &__text {
        max-width: 206px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        margin-bottom: 24px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .share {
          margin-bottom: 56px;

          & .ya-share2__list.ya-share2__list_direction_horizontal {
            & > .ya-share2__item {
              margin: 0 5px;

              & .ya-share2__badge {
                position: relative!important;
                width: 40px!important;
                height: 40px!important;
                background-color: transparent!important;
                border: 1px solid silver!important;
                border-radius: 0!important;

                & .ya-share2__icon {
                  position: absolute!important;
                  height: 35px!important;
                  width: 35px!important;
                  top: 50%!important;
                  left: 50%!important;
                  transform: translate(-50%, -50%)!important;
                  background-size: 35px 35px!important;
                }
              }
            }
          }
        }
      }

      &__share-link {
        max-width: 298px;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        color: #FECC00;
        text-align: center;
        text-decoration: none;
        line-break: anywhere;
      }
    }
  }

  &__study-result {
    max-width: 724px;

    & .modal__inner {
      padding: 107px 83px 92px;

    }

    & .modal__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 45px;

      & .modal__picture {
        @include lg-block {
          margin-bottom: 90px;
        }

        @include xs-block {
          margin-bottom: 70px;
        }

        & img {
          max-width: 162px;
        }
      }

      & .modal__text {
        font-size: 30px;
        text-align: center;
        line-height: 37px;
        margin-bottom: 52px;

        @include xs-block {
          margin-bottom: 115px;
        }
      }

      & .btn-yellow {
        padding: 16px 36px;

        &:first-of-type {
          margin-bottom: 20px;
          margin-right: 0;
        }

        @include xs-block {
          &:first-of-type {
            margin-right: 20px;
            margin-bottom: 0;
          }
        }
      }

      & .modal__controls {
        display: flex;
        flex-direction: column;

        @include sm-block {
          flex-direction: row;
        }
      }
    }
  }

  &__study-profile {
    max-width: 474px;
    & .modal__inner {
      padding: 0;
    }
    & .modal__close {
      @include xs-block {
        right: 15px;
        top: 15px;
      }
      right: 15px;
      top: 15px;
    }

    & .modal {
      &-success, &-error {
        white-space: normal;
      }
    }

    & .link-download__text {
      display: none;

      &.active {
        display: block;
      }
    }

    & .modal-success {
      color: #fff;
    }

    & .modal-error {
      color: #f8717a;
    }

    & .modal__save {
      margin-right: 20px;
    }
  }

  &__block {
    padding: 30px 32px;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--bordered {
      border-top: 1px solid #898C9B;
    }
  }

  &__video {
    margin-bottom: 32px;
  }

  &__result {
    &-item {
      display: flex;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &-key {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: rgba(255, 255, 255, .7);
      margin-right: 20px;
    }

    &-value {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      display: inline-flex;
      align-items: center;
      p {
        font-weight: 500;
      }
      span {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }

  &__person {
    display: flex;

    &-img {
      max-width: 106px;
      margin-right: 12px;
    }

    &-data {
      width: #{calc(100% - 106px)};
    }

    &-name {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      color: #fff;
      margin-bottom: 2px;
    }

    &-value {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.phone-confirm {
  @include xs-block {
    flex-direction: row;
    margin-left: -60px;
    margin-right: -60px;
    padding: 14px 32px 32px 60px;
  }
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-left: -30px;
  margin-right: -30px;
  padding: 14px 30px;


  &__data {
    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: rgba(45, 45, 57, .7);
    }
  }

  &__again {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(45, 45, 57, .7);
    text-decoration-line: underline;
    margin-top: 5px;

    &.disabled {
      cursor: not-allowed;
      opacity: .5;
    }
  }

  &__field {
    @include xs-block {
      max-width: 233px;
      margin-right: 16px;
    }
  }

  &__data {
    @include xs-block {
      width: #{calc(100% - 240px)};
    }
    margin-top: 16px;
  }

  & .field {
    margin-top: 0;
    & input {
      color: #2D2D39;
      border-color: #2D2D39;

      &:focus {
        border-color: #14141a;
      }
    }
    & p {
      font-size: 15px;
      line-height: 18px;
      color: rgba(45, 45, 57, .7);
    }
  }
}

.load-image {
  width: 106px;
  height: 106px;

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  &__preview {
    position: relative;
    overflow: hidden;

    &-img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4px;
    background: rgba(47, 47, 47, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    transition: visibility ease .3s, opacity ease .3s, transform ease .3s;
  }

  &__preview:hover &__action {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
