include ../../components/field/field
include base

+modal('study-restore-password', 'Восстановление пароля')
    form(action='' method='post').modal__form.js-form.validator
        +field('Электронная почта', 'email', '', '', 'text',
            {
                'validator-require': 'true',
                'validator-type': 'email'
            }
        )
        button(type='submit').btn.btn-yellow.modal__button-auth Отправить
