@mixin hideScrollbars {
    -ms-overflow-style: none; // IE 10+
    &::-webkit-scrollbar {
        display: none;
    }
}

.study-sidebar {
    @include md-block {
        max-width: 416px;
        max-height: 1100px;
    }
    list-style: none;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 35px;

    &-section {
        @include md-block {
            max-height: 650px;
            height: 650px;
        }
        position: relative;
        max-height: 260px;
        height: 260px;
        overflow: hidden;

        &:before, &:after {
            @include lg-block {
                max-width: 414px;
                height: 25%;
            }
            content: '';
            position: absolute;
            width: 100%;
            height: 120px;
            pointer-events: none;
            transition: background ease .3s;
            z-index: 3;
        }

        &.fadeTop {
            &:before {
                top: -.2em;
                background: linear-gradient(180deg, rgba(85,86,104,1) 15%, rgba(43,43,55,0) 100%);
            }
        }

        &.fadeBottom {
            &:after {
                bottom: -.2em;
                background: linear-gradient(0deg, rgba(85,86,104,1) 15%, rgba(43,43,55,0) 100%);
            }
        }

        & .study__slider {
            & * {
                outline: none!important;
            }
        }

        .swiper-container {
            margin: 0;
            padding: 0;
        }


        .preloader {
            &-loader {
                position: absolute;
            }

            &-wrap {
                position: absolute;
            }
        }
    }

    &__item {
        @include md-block {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        transition: padding .2s ease-in-out;
        scroll-snap-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #6E7181;
        height: auto;

        &:last-child {
            border-bottom: none;
        }
    }

    &__link {
        text-decoration: none;

        &.disabled {
            opacity: .2;
            cursor: not-allowed;

            & * {
                opacity: .2;
            }
        }
    }

    &__lesson {
        @include md-block {
            font-size: 16px;
            line-height: 20px;
        }
        transition: color .2s ease-in-out;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        margin-bottom: 6px;
    }

    &__title {
        @include md-block {
            font-size: 16px;
            line-height: 20px;
        }
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: #fff;
    }

    &__item.active {
        @include md-block {
            padding-top: 20px;
            padding-bottom: 23px;
        }
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__item.active & {
        &__lesson {
            @include md-block {
                font-size: 22px;
                line-height: 27px;
                margin-bottom: 10px;
            }
            font-size: 18px;
            line-height: 20px;
            color: #FECC00;
            margin-bottom: 8px;
        }

        &__title {
            @include md-block {
                font-size: 22px;
                line-height: 27px;
            }
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #FECC00;
        }
    }
}