-
    const studyItem = (lesson, title, disable, active) => ({lesson, title, disable, active})
    const studySidebar = [
        studyItem('Урок №1', 'LED Панели'),
        studyItem('Урок №2', 'LED Панели'),
        studyItem('Урок №3', 'LED Панели'),
        studyItem('Урок №4', 'LED Панели'),
        studyItem('Урок №5', 'LED Панели'),
        studyItem('Урок №6', 'LED Панели'),
        studyItem('Урок №2', 'Светотехника и комплектующие для натяжных потолков', false, true),
        studyItem('Урок №7', 'LED Панели', true),
        studyItem('Урок №8', 'LED Панели', true),
        studyItem('Урок №9', 'LED Панели', true),
        studyItem('Урок №10', 'LED Панели', true),
        studyItem('Урок №11', 'LED Панели', true),
        studyItem('Урок №12', 'LED Панели', true),
        studyItem('Урок №13', 'LED Панели', true),
        studyItem('Урок №14', 'LED Панели', true),
        studyItem('Урок №15', 'LED Панели', true),
        studyItem('Урок №16', 'LED Панели', true)
    ]


section.study-sidebar-section.js-study-sidebar.preloader-visible.fadeTop.fadeBottom
    .preloader-loader
        .preloader-inner.preloader-one
        .preloader-inner.preloader-two
        .preloader-inner.preloader-three
    .preloader-wrap
    .swiper-container.js-slider-study(style='opacity: 0')
        .study__slider.js-study__slider.swiper-wrapper.js-study-sidebar-scroll
            .js-study-sidebar__item.study-sidebar__item.swiper-slide.active
                a.study-sidebar__link(href='#808')
                    .study-sidebar__lesson Урок 1
                    .study-sidebar__title Конкурентные преимущества LED ПАНЕЛЕЙ EKS
            .js-study-sidebar__item.study-sidebar__item.swiper-slide
                a.study-sidebar__link(href='#811')
                    .study-sidebar__lesson Урок 2
                    .study-sidebar__title Модельный ряд LED ПАНЕЛЕЙ EKS
            .js-study-sidebar__item.study-sidebar__item.swiper-slide
                a.study-sidebar__link(href='#813')
                    .study-sidebar__lesson Урок 3
                    .study-sidebar__title Декоративные светильник и работа с ними
            .js-study-sidebar__item.study-sidebar__item.swiper-slide
                a.study-sidebar__link(href='#816')
                    .study-sidebar__lesson Урок 4
                    .study-sidebar__title Подключение светодиодной ленты с контроллером
            .js-study-sidebar__item.study-sidebar__item.swiper-slide
                a.study-sidebar__link(href='#817')
                    .study-sidebar__lesson Урок 5
                    .study-sidebar__title Светотехника
            .js-study-sidebar__item.study-sidebar__item.swiper-slide
                a.study-sidebar__link.disabled(href='#818')
                    .study-sidebar__lesson Урок 6
                    .study-sidebar__title Светотехника
            .js-study-sidebar__item.study-sidebar__item.swiper-slide
                a.study-sidebar__link.disabled(href='#819')
                    .study-sidebar__lesson Урок 7
                    .study-sidebar__title Светотехника

mixin study-with-srroll
    section.study-sidebar-section.js-study-sidebar
        ul.study-sidebar.scroll-custom.js-study-sidebar-scroll
            for item in studySidebar
                li.__item(class={active: item.active})
                    if (!item.disable)
                        a(href='#').__link
                            .__lesson=item.lesson
                            .__title=item.title
                    else
                       .__link.disabled
                           .__lesson=item.lesson
                           .__title=item.title