.feature {
  @include row-flex();

  &__item {
    @include col();
    @include size-md(1);
    @include size-sm(2);
    @include size(4);
    position: relative;
    height: 76px;
    border: 2px solid #fff;
    box-sizing: border-box;

    background: radial-gradient(
      100% 211.49% at 0% 3%,
      #898c9b 0%,
      #4d5061 100%
    );
    margin-bottom: 12px;
    @include transition(0.2s, linear, all);

    @include sm-block {
      margin-bottom: 24px;
      height: 150px;
    }

    @include md-block {
      height: 200px;
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      @include transition(0.2s, linear, all);
    }

    &:hover {
      box-shadow: 0 0 10px #fecc00;

      &:before {
        box-shadow: inset 0 0 10px #fecc00;
      }
    }
  }

  &__illuminate {
    position: absolute;
    background: #fecc00;
    height: 8px;
    top: -4px;
    left: 27px;
    width: 191px;
    @include transition(0.2s, linear, all);

    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background: transparent;
    }
  }

  &__item:hover &__illuminate {
    box-shadow: 0 0 10px #fecc00;
  }

  &__title {
    display: block;
    text-align: right;
    padding: 20px 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    box-sizing: border-box;

    @include sm-block {
      margin: auto;
      top: auto;
      bottom: 0;
      right: 0;
      left: auto;
      position: absolute;
      padding: 24px;
    }
  }
}
