.feature
    .feature__item
        .feature__illuminate-wrap
            .feature__illuminate
        .feature__title
            | Оптовые продажи
    .feature__item
        .feature__illuminate-wrap
            .feature__illuminate
        .feature__title
            | Высокое качество
    .feature__item
        .feature__illuminate-wrap
            .feature__illuminate
        .feature__title
            | Низкие цены
    .feature__item
        .feature__illuminate-wrap
            .feature__illuminate
        .feature__title
            | Гибкие условия
