.not-found
    .not-found__img
        img(src='img/404/404.svg' alt='Страница не найдена')
    h1.h1=title
    .not-found__text Кажется, что-то пошло не так. Вы можете вернуться на главную страницу:
    a(href='/').btn.btn-yellow На главную страницу
    .not-found__logo
        include ../logo/logo
