mixin quantity(value)
    .quantity
        span.quantity__minus.js-quantity-minus
        input.quantity__number.js-quantity-input(type="text" value=value)
        span.quantity__plus.js-quantity-plus