.personal-area-link {
  display: block;
  text-decoration: none;
  background: #FECC00;
  padding: 15px 15px 10px 43px;
  box-sizing: border-box;
  max-width: 220px;
  @include xl-block {
    max-width: 288px;
    padding: 20px 20px 15px 48px;
  }

  &__title {
    position: relative;
    text-decoration: none;

    & > span {
      display: block;
      font-weight: bold;
      font-size: 18px;
      line-height: 1;
      color: #2F2F30;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-decoration: none;

      @include xl-block {
        font-size: 24px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: -28px;
      top: -2px;
      bottom: auto;
      right: auto;
      margin: auto;
      @extend .icon-personal-area-link;
    }

    &.is-auth:before {
      @include rotate();
    }
  }

  &__desc {
    margin-top: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 133%;
    color: #BE9900;
    text-decoration: none;

    @include xl-block {
      font-size: 15px;
    }
  }
}