mixin personal-area-link(isAuth=false)
    if (isAuth)
        .personal-area-link
            a(href='cabinet-personal-data.html').__title.is-auth
                span Константинопольский Константин
            a(href='#').__desc выход
    else
        a(href='javascript:void()' data-modal-type='auth').personal-area-link.js-modal-open
            .__title
                span Личный кабинет
            .__desc вход