extends layouts/pages
block variables
	- var title = "EKS - список страниц"

block content
	.container
		include ../blocks/modules/main/main
		ul
			li
				a(href='home.html') Главная
			li
				a(href='home-unauthorized.html') Главная - не авторизованный
			li
				a(href='catalog.html') Каталог
			li
				a(href='catalog-detail.html') Каталог - детальная
			li
				a(href='basket.html') Корзина
			li
				a(href='order.html') Оформление заказа
			li
				a(href='order-processed.html') Заказ оформлен
			li
				a(href='cabinet-personal-data.html') Личный кабинет - Персональные данные
			li
				a(href='cabinet-history.html') Личный кабинет - История заказов
			li
				a(href='cabinet-history-detail.html') Личный кабинет - История состава заказа
			li
				a(href='cabinet-bonus.html') Личный кабинет - Бонусы
			li
				a(href='cabinet-present.html') Личный кабинет - Каталог бонусных подарков
			li
				a(href='contacts.html') Контакты
			li
				a(href='about.html') О нас
			li
				a(href='where-buy.html') Где купить
			li
				a(href='registration.html') Регистрация
			li
				a(href='restore-password.html') Восстановление пароля
			li
				a(href='ui-kit.html') UI-KIT