extends layouts/pages
block variables
	- var title = "gulp-pug-starter"

block content
	.container
		include ../blocks/modules/main/main
		ul
			li
				a(href='home.html') Главная
			li
				a(href='home-unauthorized.html') Главная - не авторизованный
			li
				a(href='catalog.html') Каталог
			li
				a(href='basket.html') Корзина
			li
				a(href='contacts.html') Контакты
			li
				a(href='about.html') О нас
			li
				a(href='buy.html')  Где купить
			li
				a(href='ui-kit.html') UI-KIT