.submenu {
  display: flex;
  align-items: center;
  list-style: none;

  & li {
    margin-right: 20px;
    padding: 14px 0 16px;
    height: 48px;
    box-sizing: border-box;

    @include lg-block {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }

    & a {
      @include lg-block {
        font-size: 14px;
      }
      @include transition();
      font-weight: 500;
      font-size: 13px;
      line-height: 143%;
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;

      &:hover {
        color: #cda500;
      }
    }

    &.gray-gradient {
      background: linear-gradient(181.28deg, #434551 -6.25%, #9EA2B3 51.06%, #454754 105.7%);
      padding: 14px 16px 16px;
      color: #fff;
    }
  }

  & &__study {
    padding: 0;
    margin-left: -14px;
    display: inline-flex;
    a {
      background: #FECC00;
      color: #2F2F30;
      font-style: normal;
      font-weight: normal;
      padding: 14px 14px 16px;
      transition: color ease .3s, background ease .3s;

      &:hover {
        color: #fff;
        background: #cda500;
      }
    }
  }
}