ul.submenu
    li
        a(href='#') О компании
    li
        a(href='#') Сотрудничество
    li
        a(href='#') Где купить
    li
        a(href='#') Контакты
    li.submenu__study
        a(
            href='javascript:void(0)'
            data-modal-type='study'
        ).js-modal-open Обучение
