.slider-video {
  @include u-row-flex(10px);
  margin-right: 0;

  & .slick-list {
    margin: -50px 0 -50px -25px;
    padding: 50px 0 50px 25px;
    box-sizing: border-box;
  }

  &__section {
    & .container {
      padding-right: 0;
      max-width: 100%;
      padding-left: 2.5%;
    }
  }

  &__logo {
    position: relative;
    z-index: 1;
    @include col();
    @include size(1);
    background: #ff0000;
    height: 523px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-youtube {
      width: 133px;
      height: 93px;
      background: url(icon-youtube-big()) no-repeat center;
      background-size: cover;
      margin-bottom: 20px;

      &-text {
        width: 128px;
        height: 40px;
        background: url(icon-youtube-text()) no-repeat center;
        background-size: cover;
        margin-bottom: 20px;
      }
    }

    &-esk {
      width: 70px;
      height: 30px;
      background: url(icon-logo()) no-repeat center;
      background-size: cover;
    }
  }

  &__block {
    @include col();
    @include u-size(3, $columns, 10px);
    margin-left: auto;
    margin-right: 0;
  }

  &__list {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  &__item {
    max-width: 890px;
    width: 100%;
    margin-right: 20px;
    display: block;
    box-sizing: border-box;
    opacity: 0.3;

    &.slick-active {
      opacity: 1;
    }
    &-video {
      width: 100%;
      height: 523px;
      background: #2f2f30;
      box-shadow: 10px 30px 50px rgba(0, 0, 0, 0.25);
    }
  }

  &__list > &__item:nth-child(n + 2) {
    display: none;
  }

  &__title {
    margin-top: 16px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
  }

  & .slick-dots {
    @include u-size(2, 3, $offset);
    position: relative;
    margin-top: 35px;
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &-wrap {
      position: absolute;
      left: auto;
      right: 58px;
      top: auto;
      bottom: 9px;
      margin: auto;
      text-align: center;
    }

    & li {
      background-color: transparent;
      width: 12px;
      height: 12px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      box-sizing: border-box;
      margin-right: 8px;
      @include transition(0.3s);
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        border-color: #fecc00;
        background: #fecc00;
      }
    }

    & button {
      display: none;
    }
  }

  &__controls {
    position: relative;
    @include u-size(2, 3, $offset);
  }

  &-button {
    position: absolute;
    bottom: 0;
    top: auto;
    margin: auto;
    width: 104px;
    height: 18px;
    background: url(icon-arrow-long()) no-repeat center;
    background-size: cover;
    cursor: pointer;

    &.slick-disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }

    &.prev {
      @include rotate();
      left: 0;
      right: auto;
    }

    &.next {
      right: 0;
      left: auto;
    }
  }
}
