extends ../views/layouts/default
block variables
	- var title = "О компании";
	-
		var breadcrumbs = [
			{
				name: 'Главная',
				link: '#'
			},
			{
				name: title,
				link: ''
			},
		];

block content
	include ../blocks/components/personal-card/personal-card
	section.section-title
		.container
			h1.h1=title


	include ../blocks/components/about-top/about-top
	+personal-card-section

