extends ../views/layouts/default
block variables
	- var title = "О нас";
	- var isAuth = false;

block content
	include ../blocks/components/personal-card/personal-card

	include ../blocks/components/about-top/about-top
	+personal-card-section

