extends ../views/layouts/default
block variables
	- var title = "Корзина";
	include ../data/basket

block content
	include ../blocks/components/basket/basket
	include ../blocks/components/basket-total/basket-total
	section.section-title
		.container
			h1.h1=title
	section.section.basket__section
		.container
			.content-half
				.content-half__box
					+basket(basketMoscow)
				.content-half__box
					+basket(basketBarnaul)

	+basket-total-section()

