extends ../views/layouts/default
block variables
	- var title = "Контакты";
	//- - var isAuth = false;
	include ../data/contacts

block content
	section.section-title
		.container
			h1.h1=title
	include ../blocks/components/contacts/contacts


