extends ../views/layouts/default
block variables
	- var title = "Главная";

block content
	include ../blocks/components/card/card

	section.section
		.container
			.content-sidebar
				.content__box
					include ../blocks/components/slider-main/slider-main
				.sidebar__box
					include ../blocks/components/sidebar-links/sidebar-links
	section.section
		.container
			+card-list(cardList)
	include ../blocks/components/catalog-main/catalog-main
	section.section
		.container
			include ../blocks/components/feature/feature
