extends ../views/layouts/default
block variables
	- var title = "Восстановление пароля";
	-
		var breadcrumbs = [
			{
				name: 'Главная',
				link: '#'
			},
			{
				name: title,
				link: ''
			},
		];

block content
	include ../blocks/components/field/field
	section.section-title
		.container
			h1.h1=title

	section.section
		.container
			.content-half
				.content-half__box
					.form__wrap
						form.form.js-form.validator(action='' method='POST')
							h4.h4.form__title Введите свой Email
							+field('', 'email', '', '', 'text', {'validator-require': 'true', 'validator-type': 'email'})
							.form__bottom
								button(type='submit').btn.btn-yellow.form__button Восстановить
								a(href='javascript:void()' data-modal-type='auth').form__link.js-modal-open Войти
