extends ../views/layouts/default
block variables
	include ../data/study
	- var h1 = "Обучение";
	- var title = `${h1} | ${cabinetBox.title}`;


block content
	include ../blocks/components/cabinet/cabinet
	+study-section
		+study-box(cabinetBox)
			.cabinet-test
				+cabinet-test-question
			.cabinet-footer
				.cabinet-question
					span.cabinet-question__title Вопрос:
					span.cabinet-question__count 1/3
				.cabinet-actions
					a(href='#').btn.btn-yellow.cabinet-actions__button Далее






