extends ../views/layouts/default
block variables
	- var title = "Где купить нашу продукцию";
	-
		var breadcrumbs = [
			{
				name: 'Главная',
				link: '#'
			},
			{
				name: title,
				link: ''
			},
		];

block content
	section.section-title
		.container
			h1.h1=title
	include ../blocks/components/where-buy/where-buy