.sidebar-links
    a(href='#').sidebar-links__item
        .sidebar-links__inner
            .sidebar-links__title Каталог
            .sidebar-links__go-over перейти
    a(href='#').sidebar-links__item
        .sidebar-links__inner
            .sidebar-links__title Новые поступления
            .sidebar-links__go-over перейти
