.sidebar-links
    a(href='#' style='background-image: url(../img/sidebar-links/catalog.png)').sidebar-links__item
        .sidebar-links__inner
            .sidebar-links__title Каталог
    a(href='#' style='background-image: url(../img/sidebar-links/new.png)').sidebar-links__item
        .sidebar-links__inner
            .sidebar-links__title Новые поступления
