.sidebar-links
    a(href='#' style='background-image: url(../img/sidebar-links/catalog.jpg)').sidebar-links__item
        .sidebar-links__inner
            .sidebar-links__title Каталог
    a(href='#' style='background-image: url(../img/sidebar-links/new.jpg)').sidebar-links__item
        .sidebar-links__inner
            .sidebar-links__title Новые поступления
