@mixin link-type {
  padding-left: 28px;
  & .link {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -28px;
      bottom: 0;
      top: 0;
      right: auto;
      margin: auto;
      @content
    }
  }
}

.link-with-desc,
.link-with-icon {
  display: inline-block;
  text-decoration: none;

  & ~ & {
    margin-top: 20px;
  }


  @include md-block {
    margin-bottom: 0;

    margin-right: 30px;
    & ~ & {
      margin-top: 0;
    }
  }

  @include lg-block {
    margin-right: 100px;
  }

  @include xl-block {
    margin-right: 150px;
  }
  &:last-child {
    margin-right: 0;
  }

  &.phone {
    @include link-type {
      @extend .icon-phone;
    }
  }

  &.mail {
    @include link-type {
      @extend .icon-mail;
    }
  }

  &.download {
    @include link-type {
      @extend .icon-download;
    }
  }

  & .link {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    @include xl-block {
      font-size: 24px;
    }
  }

  & .desc {
    display: block;
    margin-top: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.5);
    @include xl-block {
      font-size: 15px;
    }
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;

    @include md-block {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin: 0 20px;
    }
  }
}
.link-with-icon {
  & .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    word-wrap: break-word;
    white-space: pre-line;
    word-break:break-all;

    @include md-block {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

