section.basket-total
    .container
        .basket-total__left
            .basket-total__data
                p Вес
                span 1,25 кг.

            .basket-total__data
                p Объем
                span 0,5 м²
        .basket-total__right
            .basket-total__right-sum
                p Сумма
                span 999 208 ₽

.text-attention
    |* Итоговый объем и вес заказа 
    |может отличаться от заявленного