.cabinet {
  &-logout {
    position: absolute;
    left: 0;
    top: -88px;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #fecc00;
    padding-left: 28px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      margin: auto;
      @extend .icon-logout;
    }
  }

  &-box {
    box-shadow: 10px 30px 50px rgba(0, 0, 0, 0.25);
    @include bg-gradient();
    margin-bottom: 24px;
  }

  &-head {
    padding: 24px;

    &__back {
      display: inline-block;
      font-size: 32px;
      line-height: 35px;
      text-decoration: none;
      color: #fecc00;
      border-bottom: 2px solid #fecc00;
      @include transition(0.2s);
      padding-left: 4px;
      margin-left: 27px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        left: -27px;
        right: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url(icon-arrow-square()) no-repeat center;
      }

      &:hover {
        border-color: transparent;
      }
    }

    &__bonus {
      font-size: 32px;
      line-height: 39px;
      color: #ffffff;
      & b {
        margin-left: 8px;
        color: #fecc00;
      }
    }
  }

  &-body {
    padding: 24px;
    border-top: 1px solid #898c9b;
  }

  &-form {
    max-width: 435px;
    &__field {
      margin-bottom: 16px;
    }

    &__button {
      margin-top: 24px;
    }
  }

  &-history {
    &__row {
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #898c9b;
      &:last-child {
        border-bottom: none;
      }
    }

    &__col {
      padding-right: 16px;
      box-sizing: border-box;
      &:last-child {
        padding-right: 0;
      }

      &-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 3px;
      }

      &-value {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        color: #fff;
      }

      &-repeat {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #fecc00;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &-detail {
      &__head {
        padding-bottom: 24px;
        box-sizing: border-box;
        border-bottom: 1px solid #898c9b;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      &__data {
        padding-right: 5.833vw /* 112/19.2 */;

        & p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: rgba(255, 255, 255, 0.7);
          margin-bottom: 3px;
        }

        & span {
          font-weight: 600;
          font-size: 17px;
          line-height: 20px;
          color: #fff;
        }
      }

      &__button {
        margin-left: auto;

        & .btn {
          width: 183px;
          text-align: center;
        }
      }

      &__body {
        padding-top: 24px;
      }

      &__title {
        border-bottom: 2px solid #fecc00;
      }

      &__list {
        margin-top: 16px;
      }

      &__row {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #898c9b;
        &:last-child {
          border-bottom: 0;
        }
      }

      &__col {
        &-img {
          display: inline-block;
          padding: 1px;
          max-width: 80px;
          max-height: 80px;
          width: 100%;
          background: radial-gradient(
            100% 211.49% at 0% 3%,
            #898c9b 58.33%,
            #4d5061 100%
          );
          box-sizing: border-box;
          margin-right: 8px;

          & img {
            max-width: 100%;
            max-height: 100%;
            box-sizing: border-box;
          }
        }

        &-title {
          display: inline-block;
          text-decoration: none;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: #ffffff;
          max-width: 499px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: 2.604vw /* 50/19.2 */;
        }

        &-data {
          margin-right: 2.604vw /* 50/19.2 */;
          max-width: 106px;

          & p {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 3px;
          }

          & span {
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            color: #ffffff;
          }
        }

        &-sum {
          background: rgba(255, 255, 255, 0.1);
          padding: 5px 12px 7px;
          box-sizing: border-box;
          margin-left: auto;

          & p {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.7);
          }

          & span {
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            color: #ffffff;
          }
        }
      }
    }
  }

  &-bonus {
    &__content {
      max-width: 500px;
    }

    &__title {
      border-bottom: 2px solid #fecc00;
      margin-bottom: 16px;
    }

    &__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.8);
      & p {
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__opstion {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      max-width: 315px;

      &:last-child {
        margin-bottom: 0;
      }

      &-block {
        margin-top: 24px;
      }

      &-title {
        font-weight: 600;
        font-size: 21px;
        line-height: 26px;
        color: #fff;
        margin-bottom: 18px;
      }

      &-line {
        max-width: 100%;
        width: 14%;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        margin-top: 5px;
        font-size: 15px;
        line-height: 21px;
      }

      &-value {
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
        padding-right: 8px;
      }

      &-bonus {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        text-align: right;
        color: #fff;
        padding-left: 8px;
      }
    }
  }
}
