.cabinet {
  &-logout {
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #fecc00;
    padding-left: 28px;

    @include xs-block {
      font-size: 16px;
      line-height: 24px;
    }

    @include md-block {
      position: absolute;
      left: auto;
      right: 0;
      top: -88px;
    }

    @include xl-block {
      position: absolute;
      left: 0;
      top: -88px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      margin: auto;
      @extend .icon-logout;
    }
  }

  &__wrap {
    @include md-block {
      flex-wrap: nowrap;
    }

    & .sidebar__box {
      @include md-block {
        max-width: 325px;
        width: 100%;
      }
      @include xl-block {
        max-width: 435px;
      }
    }
  }

  &-box {
    box-shadow: 10px 30px 50px rgba(0, 0, 0, 0.25);
    @include bg-gradient();
    margin-bottom: 24px;
    margin-top: 24px;

    @include md-block {
      margin-top: 0;
    }
  }

  &-head {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include lg-block {
      padding: 24px;
    }

    &__title {
      font-size: 28px;
      line-height: 30px;
      padding-right: 8px;

      @include sm-block {
        font-size: 32px;
        line-height: 39px;
      }
    }

    &__back {
      display: inline-block;
      font-size: 18px;
      line-height: 20px;
      text-decoration: none;
      color: #fecc00;
      border-bottom: 2px solid #fecc00;
      @include transition(0.2s);
      margin-left: 22px;
      position: relative;

      @include xs-block {
        margin-left: 27px;
        padding-left: 4px;
        font-size: 28px;
        line-height: 30px;
      }

      @include sm-block {
        font-size: 32px;
        line-height: 35px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        left: -27px;
        right: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url(icon-arrow-square()) no-repeat center;
      }

      &:hover {
        border-color: transparent;
      }
    }

    &__bonus {
      font-size: 25px;
      line-height: 28px;
      color: #fff;

      @include sm-block {
        font-size: 32px;
        line-height: 39px;
      }

      & b {
        color: #fecc00;
        display: block;
        @include xs-block {
          margin-left: 8px;
          display: inline-block;
        }
      }
    }
  }

  &-body {
    padding: 16px;
    border-top: 1px solid #898c9b;

    @include lg-block {
      padding: 24px;
    }
  }

  &-form {
    max-width: 435px;
    &__field {
      margin-bottom: 16px;
    }

    &__button {
      margin-top: 24px;
    }
  }

  &-history {
    &__row {
      padding: 16px 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      border-bottom: 1px solid #898c9b;

      @include sm-block {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &__col {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 16px;

      @include sm-block {
        width: #{"calc(100% / 5)"};
        padding-right: 16px;
        margin-bottom: 0;
      }

      &:last-child {
        padding-right: 0;
        margin-bottom: 0;
        text-align: right;
      }

      &-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 3px;
      }

      &-value {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        color: #fff;
      }

      &-repeat {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #fecc00;

        &:hover {
          text-decoration: none;
        }
      }

      & .btn {
        text-align: center;
      }
    }

    &-detail {
      &__head {
        padding-bottom: 24px;
        box-sizing: border-box;
        border-bottom: 1px solid #898c9b;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        @include md-block {
          flex-wrap: nowrap;
        }
      }

      &__data {
        padding-right: 5.833vw /* 112/19.2 */;
        margin-bottom: 16px;
        width: 100%;

        @include xs-block {
          width: auto;
        }

        @include md-block {
          margin-bottom: 0;
        }

        & p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: rgba(255, 255, 255, 0.7);
          margin-bottom: 3px;
        }

        & span {
          font-weight: 600;
          font-size: 17px;
          line-height: 20px;
          color: #fff;
        }
      }

      &__button {
        @include md-block {
          margin-left: auto;
        }

        & .btn {
          width: 183px;
          text-align: center;
        }
      }

      &__body {
        padding-top: 24px;
      }

      &__title {
        border-bottom: 2px solid #fecc00;
      }

      &__list {
        margin-top: 16px;
      }

      &__row {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #898c9b;
        flex-wrap: wrap;
        padding-bottom: 0;

        @include sm-block {
          padding-bottom: 16px;
        }

        @include lg-block {
          flex-wrap: nowrap;
        }

        &:last-child {
          border-bottom: 0;
        }
      }

      &__col {
        &-img {
          display: inline-block;
          padding: 1px;
          max-width: 80px;
          max-height: 80px;
          width: 100%;
          height: 100%;
          background: radial-gradient(
            100% 211.49% at 0% 3%,
            #898c9b 58.33%,
            #4d5061 100%
          );
          box-sizing: border-box;
          margin-right: 8px;
          order: 0;
          margin-bottom: 16px;

          @include lg-block {
            order: inherit;
            margin-bottom: 0;
          }

          & img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            box-sizing: border-box;
          }
        }

        &-title {
          display: inline-block;
          text-decoration: none;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: #fff;
          width: 100%;
          margin-right: 12px;
          order: 1;
          flex: 1 1 auto;
          margin-bottom: 16px;

          @include sm-block {
            order: 0;
            max-width: #{calc(100% - 100px)};
          }

          @include lg-block {
            max-width: 499px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            order: inherit;
            flex: inherit;
            margin-right: 2.604vw /* 50/19.2 */;
            margin-bottom: 0;
          }
        }

        &-data {
          max-width: 106px;
          width: 100%;
          margin-right: 12px;
          order: 2;
          margin-bottom: 16px;

          &:last-child {
            order: 3;
          }

          @include sm-block {
            margin-bottom: 0;
            order: 1;
            &:last-child {
              order: 1;
            }
          }
          @include lg-block {
            order: inherit;
            flex: inherit;
            margin-right: 2.604vw /* 50/19.2 */;
          }

          & p {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 3px;
          }

          & span {
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            color: #ffffff;
          }
        }

        &-sum {
          background: rgba(255, 255, 255, 0.1);
          padding: 5px 12px 7px;
          box-sizing: border-box;
          margin-left: auto;
          min-width: 106px;
          order: 0;
          margin-bottom: 16px;

          @include sm-block {
            margin-bottom: 0;
            order: 1;
          }

          @include lg-block {
            order: inherit;
            flex: inherit;
          }

          & p {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.7);
          }

          & span {
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            color: #ffffff;
          }
        }
      }
    }
  }

  &-bonus {
    &__content {
      max-width: 500px;
    }

    &__title {
      border-bottom: 2px solid #fecc00;
      margin-bottom: 16px;
    }

    &__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.8);
      & p {
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__opstion {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 10px;

      @include xs-block {
        max-width: 315px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-block {
        margin-top: 24px;
      }

      &-title {
        font-weight: 600;
        font-size: 21px;
        line-height: 26px;
        color: #fff;
        margin-bottom: 18px;
      }

      &-line {
        display: block;
        flex: 1;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        font-size: 15px;
        line-height: 21px;
        align-self: flex-end;
        @include xs-block {
          margin-bottom: 5px;
        }
      }

      &-value {
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
        @include xs-block {
          padding-right: 8px;
        }
      }

      &-bonus {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        text-align: right;
        color: #fff;
        @include xs-block {
          padding-left: 8px;
        }
      }
    }
  }
}
