.cabinet {
  &-logout {
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #fecc00;
    padding-left: 28px;

    &--study {
      margin-left: 20px;
    }

    @include xs-block {
      font-size: 16px;
      line-height: 24px;
    }

    @include md-block {
      position: absolute;
      left: auto;
      right: 0;
      top: -88px;
      &--study {
        position: relative;
        left: auto;
        top: auto;
      }
    }

    @include xl-block {
      position: absolute;
      left: 0;
      top: -88px;

      &--study {
        position: relative;
        left: auto;
        top: auto;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      margin: auto;
      @extend .icon-logout;
    }
  }

  &__wrap {
    display: flex;
    position: relative;

    & .section-title__title {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      h1 {
        margin-bottom: 0;
      }
    }

    @include md-block {
      flex-wrap: nowrap;
    }

    & .sidebar__box {
      display: flex;
      flex-direction: column;

      @include md-block {
        max-width: 325px;
        width: 100%;

        &.fixed {
          position: fixed;
          top: 0;
        }
      }
      @include xl-block {
        max-width: 435px;
      }
    }

    & .content__box {
      @include md-block {
        margin-left: auto;
      }
    }
  }

  &-box {
    box-shadow: 10px 30px 50px rgba(0, 0, 0, 0.25);
    @include bg-gradient();
    margin-bottom: 24px;
    margin-top: 24px;

    @include md-block {
      margin-top: 0;
    }
  }


  &-head {
    //@include lg-block {
    //  padding: 0;
    //}
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;

    &__title {
      width: 100%;
      font-size: 28px;
      line-height: 30px;
      padding-right: 8px;
      text-align: center;

      @include xs-block {
        font-size: 32px;
        line-height: 39px;
      }
    }

    &__back {
      display: inline-block;
      font-size: 18px;
      line-height: 20px;
      text-decoration: none;
      color: #fecc00;
      border-bottom: 2px solid #fecc00;
      @include transition(0.2s);
      margin-left: 22px;
      position: relative;

      @include xs-block {
        margin-left: 27px;
        padding-left: 4px;
        font-size: 28px;
        line-height: 30px;
      }

      @include sm-block {
        font-size: 32px;
        line-height: 35px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        left: -27px;
        right: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url(icon-arrow-square()) no-repeat center;
      }

      &:hover {
        border-color: transparent;
      }
    }

    &__bonus {
      font-size: 25px;
      line-height: 28px;
      color: #fff;

      @include sm-block {
        font-size: 32px;
        line-height: 39px;
      }

      & b {
        color: #fecc00;
        display: block;
        @include xs-block {
          margin-left: 8px;
          display: inline-block;
        }
      }
    }
  }

  &-box--study & {

    &-head {
      position: relative;
      height: auto;
      min-height: 120px;
      padding: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      @include sm-block {
        min-height: 150px;
        width: 100%;
      }
    }

    &-body {
      @include lg-block{
        padding: 40px 115px 40px 145px;

        .video-blocker-similar {
          height: 25%;
          top: 65%;
          left: 14px;
        }
      }

      @include md-block {
        .video-blocker-similar {
          top: 39%;
          height: 41%;
        }
      }

      @include sm-block {
        .video-blocker-similar {
          height: 36%;
          top: 50%;
          left: 8px;

          &.active {
            display: block;
          }
        }
      }

      .video-blocker-similar {
        display: none;
        position: absolute;
        width: 98%;
        background: red;
      }
    }
  }

  &-test, &-footer {
    @include lg-block {
      padding: 60px 115px 42px 145px;
    }
    padding: 16px;
  }

  &-test {
    border-top: 1px solid #898c9b;
    @include lg-block {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    padding-top: 16px;
    padding-bottom: 16px;

    & .test-wrap {
      display: none;

      &.active {
        display: block;
      }

      & .cabinet-text__wrap {
        display: none;

        &.current-question {
          display: block;
        }
      }
    }
  }

  &-footer {
    @include lg-block {
      padding-top: 28px;
      padding-bottom: 28px;
    }
    @include sm-block {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    display: flex;
    flex-direction: column;
    border-top: 1px solid #898c9b;
    padding-top: 18px;
    padding-bottom: 18px;

    .cabinet-actions {
      display: flex;
      flex-direction: column;

      .test-next-action {
        display: none;

        &.active {
          display: block;
        }
      }

      .lesson-next-action {
        display: none;

        &.active {
          display: block;
        }
      }

      @include xs-block {
        flex-direction: row;
      }
    }

    .next-question-btn {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &-body {
    padding: 16px;
    border-top: 1px solid #898c9b;

    @include lg-block {
      padding: 24px;
    }
  }

  &-form {
    max-width: 435px;
    &__field {
      margin-bottom: 16px;
    }

    &__button {
      margin-top: 24px;
    }
  }

  &-history {
    &__row {
      padding: 16px 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      border-bottom: 1px solid #898c9b;

      @include sm-block {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &__col {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 16px;

      @include sm-block {
        width: #{"calc(100% / 5)"};
        padding-right: 16px;
        margin-bottom: 0;
      }

      &:last-child {
        padding-right: 0;
        margin-bottom: 0;
        text-align: right;
      }

      &-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 3px;
      }

      &-value {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        color: #fff;
      }

      &-repeat {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #fecc00;

        &:hover {
          text-decoration: none;
        }
      }

      & .btn {
        text-align: center;
      }
    }

    &-detail {
      &__head {
        padding-bottom: 24px;
        box-sizing: border-box;
        border-bottom: 1px solid #898c9b;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        @include md-block {
          flex-wrap: nowrap;
        }
      }

      &__data {
        padding-right: 5.833vw /* 112/19.2 */;
        margin-bottom: 16px;
        width: 100%;

        @include xs-block {
          width: auto;
        }

        @include md-block {
          margin-bottom: 0;
        }

        & p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: rgba(255, 255, 255, 0.7);
          margin-bottom: 3px;
        }

        & span {
          font-weight: 600;
          font-size: 17px;
          line-height: 20px;
          color: #fff;
        }
      }

      &__button {
        @include md-block {
          margin-left: auto;
        }

        & .btn {
          width: 183px;
          text-align: center;
        }
      }

      &__body {
        padding-top: 24px;
      }

      &__title {
        border-bottom: 2px solid #fecc00;
      }

      &__list {
        margin-top: 16px;
      }

      &__row {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #898c9b;
        flex-wrap: wrap;
        padding-bottom: 0;

        @include sm-block {
          padding-bottom: 16px;
        }

        @include lg-block {
          flex-wrap: nowrap;
        }

        &:last-child {
          border-bottom: 0;
        }
      }

      &__col {
        &-img {
          display: inline-block;
          padding: 1px;
          max-width: 80px;
          max-height: 80px;
          width: 100%;
          height: 100%;
          background: radial-gradient(
            100% 211.49% at 0% 3%,
            #898c9b 58.33%,
            #4d5061 100%
          );
          box-sizing: border-box;
          margin-right: 8px;
          order: 0;
          margin-bottom: 16px;

          @include lg-block {
            order: inherit;
            margin-bottom: 0;
          }

          & img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            box-sizing: border-box;
          }
        }

        &-title {
          display: inline-block;
          text-decoration: none;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: #fff;
          width: 100%;
          margin-right: 12px;
          order: 1;
          flex: 1 1 auto;
          margin-bottom: 16px;

          @include sm-block {
            order: 0;
            max-width: #{calc(100% - 100px)};
          }

          @include lg-block {
            max-width: 499px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            order: inherit;
            flex: inherit;
            margin-right: 2.604vw /* 50/19.2 */;
            margin-bottom: 0;
          }
        }

        &-data {
          max-width: 106px;
          width: 100%;
          margin-right: 12px;
          order: 2;
          margin-bottom: 16px;

          &:last-child {
            order: 3;
          }

          @include sm-block {
            margin-bottom: 0;
            order: 1;
            &:last-child {
              order: 1;
            }
          }
          @include lg-block {
            order: inherit;
            flex: inherit;
            margin-right: 2.604vw /* 50/19.2 */;
          }

          & p {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 3px;
          }

          & span {
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            color: #ffffff;
          }
        }

        &-sum {
          background: rgba(255, 255, 255, 0.1);
          padding: 5px 12px 7px;
          box-sizing: border-box;
          margin-left: auto;
          min-width: 106px;
          order: 0;
          margin-bottom: 16px;

          @include sm-block {
            margin-bottom: 0;
            order: 1;
          }

          @include lg-block {
            order: inherit;
            flex: inherit;
          }

          & p {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.7);
          }

          & span {
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            color: #ffffff;
          }
        }
      }
    }
  }

  &-bonus {
    &__content {
      max-width: 500px;
    }

    &__title {
      border-bottom: 2px solid #fecc00;
      margin-bottom: 16px;
    }

    &__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.8);
      & p {
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__opstion {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 10px;

      @include xs-block {
        max-width: 315px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-block {
        margin-top: 24px;
      }

      &-title {
        font-weight: 600;
        font-size: 21px;
        line-height: 26px;
        color: #fff;
        margin-bottom: 18px;
      }

      &-line {
        display: block;
        flex: 1;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        font-size: 15px;
        line-height: 21px;
        align-self: flex-end;
        @include xs-block {
          margin-bottom: 5px;
        }
      }

      &-value {
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
        @include xs-block {
          padding-right: 8px;
        }
      }

      &-bonus {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        text-align: right;
        color: #fff;
        @include xs-block {
          padding-left: 8px;
        }
      }
    }
  }


  // Обучение

  &-study {

    &__title {
      @include md-block {
        font-size: 29px;
        line-height: 35px;
      }

      position: relative;
      width: 100%;
      z-index: 10;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      color: #fff;
    }

    &__pic {
      position: relative;
      width: 100%;
      display: flex;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  &-share {
    position: relative;
    margin-bottom: 28px;

    &.cabinet-share__block {
      display: none;

      &.active {
        display: block;
      }
    }

    &__link {
      display: inline-block;
      max-width: 298px;
      word-break: break-word;
      position: relative;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      color: #fff;
      text-decoration: none;
      //letter-spacing: 0em;
      text-align: left;


      &:after {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        right: -36px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('/local/assets/img/study/share.svg');
      }
    }

    & .video-blocker {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 20;
      background: #000;
      opacity: .8;

      &.active {
        display: block;
      }

      &-info {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 62%;
        transform: translate(-50%, -50%);
        color: #fff;

        @include xs-block {
          top: 50%;
        }

        &__text {
          text-align: center;

          &:before {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            background-image: url('/local/assets/img/study/warning.svg');

            @include xs-block {
              top: -45px;
            }
          }
        }
      }
    }
  }

  &-tabs {
    @include sm-block {
      flex-direction: row;
    }
    display: none;
    justify-content: space-between;
    flex-direction: column;

    &.active {
      display: flex;
    }
  }

  &-tabs &-tab__button {
    @include sm-block {
      width: #{calc(50% - 10px)};
      padding: 22px 24px 21px;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0;
    }
    padding: 18px 22px 17px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    box-sizing: border-box;
    transition: background-color .5s ease, color .5s ease;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &.disabled:hover {
      cursor: default;
      background: 0 0;
      color: #fff;
    }

    &:hover {
      color: #2f2f30;
      background: #fff;
    }

    &:active {
      box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.25);
    }

    &.active {
      background: #fecc00;
      color: #2f2f30;
      border-color: #fecc00;
    }

    & + & {
      margin-left: 20px;
    }
  }

  &-test {
    &__question {
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 23px;
      color: #fff;
    }

    &__desc {
      font-size: 17px;
      line-height: 21px;
      color: #fff;
      opacity: 0.5;
      margin-top: 7px;
    }

    &__answer {
      @include sm-block {
        width: #{calc(50% - 23px)};
        margin: 10px;
      }
      display: inline-flex;
      cursor: pointer;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 10px;

      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: stretch;
        @include sm-block {
          margin: 30px -10px -10px;
        }
        margin-top: 20px;
        margin-bottom: -10px;
      }

      & input {
        display: none;
      }

      &-inner {
        display: flex;
        width: 100%;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: auto;
          bottom: -3px;
          left: 20%;
          right: auto;
          width: 145px;
          height: 7px;
          margin: auto;
          background: #fff;
          filter: blur(2px);
          border-radius: 50%;
          visibility: hidden;
          opacity: 0;
          transition: visibility .3s ease, opacity .3s ease;
        }

        &:hover:before {
          visibility: visible;
          opacity: 1;
        }
      }

      &-type {
        @include md-block {
          font-size: 23px;
          line-height: 28px;
        }
        @include sm-block {
          min-height: 60px;
          width: 60px;
        }
        width: 52px;
        min-height: 40px;
        border: 1px solid #FECC00;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FECC00;
      }

      &-title {
        @include md-block {
          font-size: 19px;
          line-height: 28px;
        }
        @include sm-block {
          padding: 17px 28px 14px;
          width: #{calc(100% - 60px)};
        }
        width: #{calc(100% - 52px)};
        border: 1px solid #fff;
        box-sizing: border-box;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        text-transform: uppercase;
        padding: 14px 18px 12px;
        border-left: none;
      }

      &:hover input:checked ~ &-inner:before {
        content: none;
      }

      & input:checked ~ &-inner & {
        &-type {
          background: rgba(254, 204, 0, 0.2);
        }
        &-title {
          background: rgba(231, 231, 231, 0.2);
        }
      }
    }

    &__result {
      display: none;
      text-align: center;

      &.active {
        display: block;
      }

      &-icon {
        @include md-block {
          max-width: 136px;
          max-height: 136px;
          margin-bottom: 24px;
        }
        max-width: 100px;
        max-height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;

        & svg {
          width: 100%;
          height: 100%;
        }
      }

      &-title {
        @include md-block {
          font-size: 28px;
          line-height: 34px;
        }
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        color: #fff;
      }

      &-desc {
        @include lg-block {
          font-size: 20px;
          line-height: 24px;
        }
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 10px;
      }
    }

    &-next-action {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &-question {

    &.disabled {
      display: none;
    }

    @include md-block {
      font-size: 18px;
      line-height: 22px;
    }
    @include sm-block {
      margin-bottom: 0;
    }
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;

    &__title {
      color: rgba(255, 255, 255, 0.7);
    }

    &__count {
      color: #fff;
      margin-left: 4px;
    }
  }

  &-actions {
    @include sm-block {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    & &__button {
      @include md-block {
        margin-left: 20px;
      }
      @include sm-block {
        margin-left: 16px;
        padding: 16px 36px;
        margin-bottom: 0;
      }
      margin-bottom: 10px;
      padding: 14px 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-dynamic-block {
    display: none;

    &.active {
      display: block;
    }
  }
}
