.main {
	text-align: center;
	@include col();
	@include size-xs(12);

	code {
		margin: 0 5px;
	}
}



.btn-yellow {
	display: inline-block;
	vertical-align: middle;
	padding: 18px 20px;
	background: #FECC00;
	text-decoration: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	color: #2F2F30;
	border: none;
	box-sizing: border-box;
	cursor: pointer;

	&:hover {
	}
  
	&:active {
	}
}

.h1 {
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	color: red;
	border-bottom: 4px solid  #FECC00;

}

.card {
	max-width: 347px;
	margin-top: 30px;
	background: radial-gradient(100% 97% at 0% 3%, #898C9B 0%, #4D5061 100%);

	&__inner {
		padding: 16px 16px 40px 16px;

	}

	&__new {
		padding-bottom: 16px;
		text-align: center;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #8BC34A;

	}

	&__description  {
		text-align: center;
		padding-bottom: 24px;
		color: #fff;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;

	}

	&__img {
		& img {
			max-width: 100%;
			max-height: 100%;

		}
	}


	span {

		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		line-height: 150%;
		color: #FFFFFF;
	}

	// &__old-price {
		// font-weight: normal;
		// font-size: 18px;
		// color: rgba(255, 255, 255, 0.5);

		// &::before {
			// content: '';
			// position: absolute;
			// width: 24px;
			// height: 1px;
			// background-color: rgba(255, 255, 255, 0.5);
			// top: 0;
			// bottom: 0;
			// right: 0;
			// left: 0;
			// margin: auto;
			// -webkit-transform: rotate(-45deg);
			// -moz-transform: rotate(-45deg);
			// -ms-transform: rotate(-45deg);
			// -o-transform: rotate(-45deg);
			// transform: rotate(-45deg);
		// }



	
	}


.card__old-price {
	position: relative;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.5);

	&::before {
		content: '';
		position: absolute;
		width: 67px;
		height: 1px;
		background-color: rgba(255, 255, 255, 0.5);
		top: 0;
		bottom: 0;
		right: auto;
		left: 0;
		margin: auto;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

}