.main {
	text-align: center;
	@include col();
	@include size-xs(12);

	code {
		margin: 0 5px;
	}
}


.row-example {
	@include row-flex();

	& .col {
		@include col();
		@include size(1);
		background: dodgerblue;
		height: 100px;
	}
}

.btn {
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	@include outline-none();
	background-color: transparent;

	&-search {
		@extend .icon-search;
	}
}


.btn-yellow {
	display: inline-block;
	vertical-align: middle;
	padding: 18px 20px;
	background: #FECC00;
	text-decoration: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	color: #2F2F30;
	border: none;
	box-sizing: border-box;
	cursor: pointer;

	&:hover {
	}

	&:active {
	}
}

.h1 {
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	color: #fff;
	border-bottom: 4px solid  #FECC00;
	margin-bottom: 56px;
}

