.main {
  text-align: center;
  @include col();
  @include size-xs(12);

  code {
    margin: 0 5px;
  }
}

.row-example {
  @include row-flex();

  & .col {
    @include col();
    @include size(1);
    background: dodgerblue;
    height: 100px;
  }
}

.btn {
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  @include outline-none();
  background-color: transparent;

  &-search {
    @extend .icon-search;
  }
}

.btn-yellow {
  display: inline-block;
  vertical-align: middle;
  padding: 18px 20px;
  background: #fecc00;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #2f2f30;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
  }

  &:active {
  }
}
