.container
    .row-example
        .col
        .col
        .col
        .col

    button.btn-yellow В корзину
    a(href='#').btn.btn-yellow В корзину

    button.btn.btn-yellow В корзину
    a(href='#').btn.btn-yellow В корзину

    h1.h1 Каталог