.container
    .row-example
        .col
        .col
        .col
        .col

    button.btn-yellow В корзину
    a(href='#').btn.btn-yellow В корзину

    button.btn.btn-yellow В корзину
    a(href='#').btn.btn-yellow В корзину

    h1.h1 Каталог

    .specialty
        .specialty__item
            .specialty__title
                | Оптовые продажи
        .specialty__item
            .specialty__title
                | Высокое качество
        .specialty__item
            .specialty__title
                | Низкие цены
        .specialty__item
            .specialty__title
                | Гибкие условия
