.container
    button.btn-yellow В корзину
    a(href='#').btn.btn-yellow В корзину

    button.btn.btn-yellow В корзину
    a(href='#').btn.btn-yellow В корзину


    h1.h1 Каталог



    .card
        .card__inner
            .card__new Новинка
            .card__description
                |3COB, 6W, 6500K/4500K/3000K, 520ЛМ, D100*75*37, 40шт В
            .card__img
                img(src="img/home/icon1.jpg", alt="")
            .card__bottom
                .card__price
                    .card__price-old 5 999 ₽
                    span 5 999 ₽
                a(href='#').btn-yellow В корзину