section.basket-stock
    .container
        .basket-stock__top
            p Склад:
            span.basket-stock__city
                | Москва
        .basket-stock__row
            .basket-stock__col-img
                img(src="img/basket/basket-img1.jpg", alt="")
            .basket-stock__col-name
                a(href="#") 
                    |3COB, 6W, 6500K / 4500K / 3000K, 520ЛМ, D100*75*37, 40шт В
            .basket-stock__col-price
                p Цена
                span 1208 ₽
            .basket-stock__col-quantity
                .basket-stock__quantity
                    span.basket-stock__minus
                    span.basket-stock__number
                    input(type="hidden" value="125")
                    span.basket-stock__plus
            .basket-stock__col-sum
                p Сумма
                span 2 208 ₽
            .basket-stock__col-remove
                img(src="img/basket/basket-remove.jpg", alt="")

        .basket-stock__row
            .basket-stock__col-img
                img(src="img/basket/basket-img1.jpg", alt="")
            .basket-stock__col-name
                a(href="#") 
                    |3COB, 6W, 6500K / 4500K / 3000K, 520ЛМ, D100*75*37, 40шт В
            .basket-stock__col-price
                p Цена
                span 1208 ₽
            .basket-stock__col-quantity
                .basket-stock__quantity
                    span.basket-stock__minus
                    span.basket-stock__number
                    input(type="hidden" value="125")
                    span.basket-stock__plus
            .basket-stock__col-sum
                p Сумма
                span 2 208 ₽
            .basket-stock__col-remove
                img(src="img/basket/basket-remove.jpg", alt="")
