.pagination
    .pagination__list
        a(href="#").pagination__prev
        a(href="#").pagination__item.active 1
        a(href="#").pagination__item 2
        a(href="#").pagination__item 3
        a(href="#").pagination__points ...
        a(href="#").pagination__item 10
        a(href="#").pagination__next