.footer {

  &__top {
    padding: 50px 0;
    height: 161px;
    box-sizing: border-box;
    background: radial-gradient(100% 97% at 0% 3%, #898C9B 0%, #4D5061 100%);

    &-inner {
      @include row-flex();
      align-items: center;
    }

    &-left {
      @include col();
      @include size(1);
    }

    &-middle {
      @include col();
      @include size(2);
    }

    &-right {
      @include col();
      @include size(1);
      padding-left: 40px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    align-items: center;

    & li {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
      & a {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &__bottom {
    background: #2F2F30;
    border-bottom: 4px solid #FECC00;

    &-inner {
      height: 53px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    opacity: 0.7;
  }

  &__authors {
    text-decoration: none;
    & span {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #fff;
      opacity: 0.7;
    }

    &-logo {
      display: inline-block;
      margin-left: 8px;
    }
  }

  &__authors:hover &__authors-hand {
    transform-origin: 5px 10px;
    animation: swing-hand 1s;
  }
}

@keyframes swing-hand {
  0% {
    @include rotate(0)
  }

  50% {
    @include rotate(-25deg)
  }

  100% {
    @include rotate(0)
  }
}