include ../utils/mixins

include ../utils/variables
block variables

doctype html
html(lang="ru")
	head
		include ../includes/head
	body
		.wrapper
			main.main-gradient
				block header
					include ../../blocks/modules/header/header
					if !isMain
						include ../../blocks/components/breadcrumbs/breadcrumbs
						+breadcrumbs(breadcrumbs)
				block content

			block footer
				include ../../blocks/modules/footer/footer

			block modal
				include ../../blocks/modules/modals/modals
		include ../includes/scripts