include ../utils/mixins

include ../utils/variables
block variables

doctype html
html(lang="en")
	head
		include ../includes/head
	body
		.wrapper
			main.main-gradient
				block header
					include ../../blocks/modules/header/header
					if !isMain
						include ../../blocks/components/breadcrumbs/breadcrumbs
						+breadcrumbs(breadcrumbs)
				block content

			block footer
				include ../../blocks/modules/footer/footer

				include ../includes/scripts