section.card-about
    .container
        .card-about__list
            .card-about__item
                .card-about__inner
                    .card-about__employee
                    img(src="img/about/card-about.jpg", alt="")
                    .card-about__info
                        .card-about__name
                            | Иванов Иван Иванович
                        .card-about__position
                            |Должность

