section.card-about
    .container
        .card-about__list
            .card-about__item
                .card-about__employee
                    img(src="img/about/card-about.jpg", alt="")
                    .card-about__info
                        .card-about__name
                            | Иванов Иван Иванович
                        .card-about__position
                            | Должность
                .card-about__inner
                    .card-about__row
                        span.card-about__content
                            | +7 (921) 495 00-00
                        img(src="img/about/phone-about.svg", alt="")
                .card-about__inner
                    .card-about__row
                        span.card-about__content
                            | examplemail@gmail.com
            .card-about__item
                .card-about__employee
                    img(src="img/about/card-about.jpg", alt="")
                    .card-about__info
                        .card-about__name
                            | Иванов Иван Иванович
                        .card-about__position
                            | Должность
                .card-about__inner
                    .card-about__row
                        span.card-about__content
                            | +7 (921) 495 00-00
                        img(src="img/about/phone-about.svg", alt="")
                .card-about__inner
                    .card-about__row
                        span.card-about__content
                            | examplemail@gmail.com
            .card-about__item
                .card-about__employee
                    img(src="img/about/card-about.jpg", alt="")
                    .card-about__info
                        .card-about__name
                            | Иванов Иван Иванович
                        .card-about__position
                            | Должность
                .card-about__inner
                    .card-about__row
                        span.card-about__content
                            | +7 (921) 495 00-00
                        img(src="img/about/phone-about.svg", alt="")
                .card-about__inner
                    .card-about__row
                        span.card-about__content
                            | examplemail@gmail.com
            .card-about__item
                .card-about__employee
                    img(src="img/about/card-about.jpg", alt="")
                    .card-about__info
                        .card-about__name
                            | Иванов Иван Иванович
                        .card-about__position
                            | Должность
                .card-about__inner
                    .card-about__row
                        span.card-about__content
                            | +7 (921) 495 00-00
                        img(src="img/about/phone-about.svg", alt="")
                .card-about__inner
                    .card-about__row
                        span.card-about__content
                            | examplemail@gmail.com
                        //- img(src="img/about/mail-about.svg", alt="")