.card-about {
    margin-top: 60px;

    &__list {

    }

    &__item {
        background: radial-gradient(100% 211.49% at 0% 3%, #898C9B 0%, #4D5061 100%);
    }

    &__employee {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__info {
        margin-left: 10px;

    }

    &__name {

    }
}