
mixin share
    .share
        a(href='#').share__item.icon-share-tg
        a(href='#').share__item.icon-share-ok
        a(href='#').share__item.icon-share-vk
        a(href='#').share__item.icon-share-fb
        a(href='#').share__item.icon-share-wa