-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Личный кабинет',
            link: '#'
        },
        {
            name: cabinetBox.title,
            link: ''
        }
    ];

    var personalCard = {
        name: 'Иванов Иван',
        position: 'Ваш персональный менеджер'
    }