-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Каталог',
            link: '#'
        },
        {
            name: 'Лампа',
            link: '#'
        },
        {
            name: '3COB, 6W, 6500K/4500K/3000K, 520ЛМ, D100*75*37, 40шт В',
            link: ''
        }
    ];