-
    let cabinetBox = {
        title: 'Урок 2: Светотехника и комплектующие для натяжных потолков',
        test: false
    }

-
    const breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Личный кабинет',
            link: '#'
        },
        {
            name: 'Обучение',
            link: '#'
        },
        {
            name: cabinetBox.title,
            link: ''
        }
    ];