@include reset();

body {
  font-family: "Montserrat";
  font-size: 16px;
}
html,
body {
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
  width: 100%;
  height: 100%;

  &.main-gradient {
    padding-bottom: 50px;
    @include bg-main-theme-gradient();
  }
}

.container {
  @include container();
  max-width: 1800px;
  // @include sm(max-width, 510px);
  // @include md(max-width, 690px);
  // @include lg(max-width, 930px);
  // @include xl(max-width, 1110px);
}

.content-sidebar {
  @include row-flex();

  & .content__box {
    position: relative;
    @include col();
    @include size(3);
  }

  & .sidebar__box {
    @include col();
    @include size(1);
  }
}

.content-half {
  @include row-flex();

  &__box {
    @include col();
    @include size(2);
  }
}

.section {
  margin-top: 50px;
  margin-bottom: 100px;

  &-title {
    margin-top: 48px;
    margin-bottom: 60px;

    & .h1 {
      margin-bottom: 0;
    }
  }
}

.sort__box {
  max-width: 435px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: -116px;
  right: 0;
}

.slider-button {
  width: 64px;
  height: 64px;
  background: url(icon-arrow()) no-repeat center;
  background-size: 12px 9px;
  cursor: pointer;

  &.prev {
    @include rotate();
  }

  &.next {
  }
}
